{% extends "section.html" %}
{% import 'macros/card.html' as macros_listing -%}

{% block body %}
{% set page_class = "app-list" %}
{% endblock body %}

{% block header %}
{# This value is matched by the config.extra.menu.main~section #}
{% set current_section = "apps" %}
{{ macros_header::header(current_section=current_section)}}

{% endblock header %}

{% block content %}
<div class="wrap container" role="document">
  <div class="lpa__sidebar">
    <details class="quick-facts">
      {% set apps_section = get_section(path="apps/_index.md") %}
      <summary>Quick facts</summary>
      {% set posts = apps_section.pages | sort(attribute="date") | reverse %}
      <p>We currently list {{ posts | length }} apps.</p>
      <div class="lpa_side_container">
        <div class="lpa_side_item lpa_additions">
          <h4>Latest additions</h4>
          <ul>
            {% for post in posts | slice(end=5) %}
            <li><a href="{{ post.permalink }}">{{ post.title }}</a> <time
                datetime="{{post.date}}">({{post.date}})</time></li>
            {% endfor %}
          </ul>
        </div>
        <div class="lpa_side_item lpa_additions">
          <h4>Recently updated</h4>
          {% set updated_posts = apps_section.pages | filter(attribute="updated") | sort(attribute="updated") | reverse %}
          <ul>
            {% for post in updated_posts | slice(end=5) %}
            <li><a href="{{ post.permalink }}">{{ post.title }}</a> <time datetime="{{post.updated}}">({{ post.updated
                }})</time></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </details>
    <div class="lpa_side_item lpa_filter">
      <h3>Filter by</h3>
      {% for taxonomy in config.taxonomies %}
      <ul>
        {% if taxonomy.name == "frameworks" %}
        <li>
          <a href="../frameworks" class="frameworks_filter">Frameworks</a>
        </li>
        {#% for term in taxonomy.terms %}
        <a class="taxonomy-link text-body" href="{{ term.permalink | safe }}">{{ term.name }} <span class="count">({{
            term.pages | length }})</span></a>
        {% endfor %#}
        {% elif taxonomy.name == "mobile_compatibility" %}
        <li>
          <a href="../mobile-compatibility" class="mobile_compat_filter">Mobile fit</a>
        </li>
        {% elif taxonomy.name == "services" %}
        <li>
          <a href="../services" class="services_filter">Services</a>
        </li>
        {% elif taxonomy.name == "categories" %}
        <li>
          <a href="../categories" class="categories_filter">Categories</a>
        </li>
        {% elif taxonomy.name == "packaged_in" %}
        <li>
          <a href="../packaged-in" class="distributions_filter">Distribution</a>
        </li>
        {% endif %}
      </ul>
      {% endfor %}
    </div>
  </div>
  <div class="content">
    <article>
      <h1 class="text-center">{{ section.title }}</h1>
      <div class="teaser text-center">{{ section.content | safe }}</div>
      <div class="card-list">
        {{ macros_listing::listing_card() }}
      </div>
    </article>
  </div>
</div>
{% endblock content %}
